<center>
    <h1>Bienvenue sur Tinytweeter !</h1>

    <script type="text/javascript" src="../app.js"></script>

    <div class="box" ng-controller="Tinytwitter">
        <form ng-submit="connection()">
            <table>
                <tr>
                    <td colspan="2" style="font-weight:bold;">
                        <center>
                            <h2>Connectez vous !</h2>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Username : </label>
                    </td>
                    <td>
                        <input class="inputlabel" ng-model="pseudo" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;">
                        <input class="submitbtn" type="submit" value="Connection" ng-click>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <p>(Quelques problemes d'actualisation subsistent et requierent de cliquer parfois plusieurs fois ou de refresh la page (precedent/suivant).)</p>
</center>

<table>
    <tr>
        <td colspan="2" style="font-weight:bold;">Liens importants:</td>
    </tr>
    <tr>
        <td>
            <a href='https://github.com/MGoulley/TinyTweeter'>Sources du projet</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href='../_ah/api/explorer'>API explorer</a>
        </td>
    </tr>
</table>

