<center>
    <h1>Bienvenue sur Tinytweeter !</h1>

<div class="box" ng-controller="Tinytwitter">
        <form ng-submit="connection()">
            <table>
                <tr>
                    <td colspan="2" style="font-weight:bold;">
                        <center>
                            <h2>Connectez vous !</h2>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Username : </label>
                    </td>
                    <td>
                        <input class="inputlabel" ng-model="pseudo" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;">
                        <input class="submitbtn" type="submit" value="Connection" ng-click>
                    </td>
                </tr>
            </table>
        </form>
</div>
</center>

<table>
    <tr>
        <td colspan="2" style="font-weight:bold;">Available Links:</td>
    </tr>
    <tr>
        <td>
            <a href='../_ah/api/explorer'>API explorer</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href='html2.html'>utilisation</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href='templates/utilisateur.html'>utilisateur</a>
        </td>
    </tr>
</table>