<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="utilisateur.css">
<title>Insert title here</title>
</head>
<body>
    <div>
        <table border="1">
            <tr style="height: 25%">
                <td>
                    <p>Utilisateur</p>
                </td>
                <td>
                    <p>Poster un tweet</p>
                </td>
                <td>
                    <p>Tinytweeter</p>
                </td>
            </tr>
            <tr class="secondeligne">
                <td>
                    <p>Consulter hashtag</p>
                </td>
                <td>
                    <p>Timeline</p>
                </td>
                <td>
                    <p>Consulter les utilisateurs</p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>