html {
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff -39%, #2980b9 91%);
    font-family: "Courier New";
}

h1 {
    color: #ecf0f1;
}

h2 {
    color: #ecf0f1;
}

input {
    width: 100%;
    box-sizing: border-box;
}

table { 
    table-layout: fixed; 
}

td { 
    width: 50%; 
}

.box {
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}

.submitbtn{
    background-color: #74b9ff;
    border-color: #0984e3; 
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}